@charset "UTF-8";

/*Typical Device Breakpoints
------------------------------
 Celular - 360px até 720px
 Tablet - 768px até 1024px
 laptop - 992px até 1366px
telas grandes - 1080px até 1920px
*/

@media screen and (min-width:360px) and (max-width:720px) {
    #form{
        width: 75%;
        height: 70%;
    }
    .campo>fieldset{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    fieldset>legend{
        font-size: 1.4em;
    }
    fieldset>.dia{
        margin-left: 40%;
        position: relative;
        top: 1.3em;
    }
    fieldset>#dia{
        display: block;
        margin: auto;
        position: relative;
        top: 2em;
    }
    fieldset>.mes{
        margin-left: 40%;
        position: relative;
        top: 3em;
    }
    fieldset>#mes{
        display: block;
        margin: auto;
        position: relative;
        top: 5em;
    }
    #form > form >input{
        margin-top: 1.4em;
    }
    p{
        font-size: 1em;
    }
    h1{
        font-size: 2em;
    }
}