@charset "UTF-8";

/*Typical Device Breakpoints
------------------------------
 Celular - 360px até 720px
 Tablet - 768px até 1024px
 laptop - 992px até 1366px
telas grandes - 1080px até 1920px
*/

@media screen and (min-width:360px) and (max-width:720px) {
    #form{
        width: 70%;
        height: 70%;
    }
    .campo>fieldset{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    fieldset>#dia{
        display: block;
        margin: auto;
    }
    fieldset>#mes{
        display: block;
        margin: auto;
    }
    fieldset>.mes{
        margin: auto;
    }
    #form > form >input{
        margin-top: 5em;
    }
}